{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Avalon | {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="{% sass_src 'stylesheets/style.scss' %}" rel="stylesheet" type="text/css">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block nav %}{% endblock %}
    <main>
      <div class="container">
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
      </div>
    </main>
  </body>
</html>
