{% extends "base.html" %}

{% block title %}Game{% endblock %}

{% block nav %}
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>

      {% if is_host %}
        <li class="breadcrumb-item"><a href="{% url 'create_game' %}">Create Game</a></li>
      {% else %}
        <li class="breadcrumb-item"><a href="{% url 'join_game' %}">Join Game</a></li>
      {% endif %}

      <li class="breadcrumb-item"><a href="{% url 'lobby' game_id=game.id player_id=self.id %}">Lobby</a></li>
      <li class="breadcrumb-item"><a href="{% url 'game' game_id=game.id player_id=self.id %}">Game</a></li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
<p>You are: <b>{{ self.role }}</b></p>
{% if thumbs_seen %}
  <p>You saw the thumbs of:
  {% for player in thumbs_seen %}
    {{ player.name }}{% if forloop.revcounter > 2 %}, {% elif forloop.revcounter == 2 %} and {% endif %}
  {% endfor %}</p>
{% endif %}
{% if eyes_seen %}
  <p>You stared into the eyes of:
    {% for player in eyes_seen %}
      {{ player.name }}{% if forloop.revcounter > 2 %}, {% elif forloop.revcounter == 2 %} and {% endif %}
    {% endfor %}</p>
{% endif %}
{% endblock %}
