{% extends "base.html" %}

{% block title %}Game{% endblock %}

{% block nav %}
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>

      {% if is_host %}
        <li class="breadcrumb-item"><a href="{% url 'create_game' %}">Create Game</a></li>
      {% else %}
        <li class="breadcrumb-item"><a href="{% url 'join_game' %}">Join Game</a></li>
      {% endif %}

      <li class="breadcrumb-item"><a href="{% url 'lobby' game_id=game.id player_id=self.id %}">Lobby</a></li>
      <li class="breadcrumb-item"><a href="{% url 'game' game_id=game.id player_id=self.id %}">Game</a></li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
<p>You are: <b>{{ self.role }}</b></p>
<p>Roles: {{ roles|join:", " }}</p>
<table class="table">
  <thead>
    <tr>
        <th>Players</th>
        {% if thumbs_seen %}<th class="text-right">Thumb seen</th>{% endif %}
        {% if eyes_seen %}<th class="text-right">Eyes seen</th>{% endif %}
    </tr>
  </thead>
  <tbody>
    {% for player in players %}
    <tr class="{% if player == self %}table-active{% endif %}">
      <td>{{ player.name }}</td>
      {% if thumbs_seen %}<td class="text-right">{% if player in thumbs_seen %}✓{% endif %}</td>{% endif %}
      {% if eyes_seen %}<td class="text-right">{% if player in eyes_seen %}✓{% endif %}</td>{% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
