{% extends "base.html" %}

{% block title %}Join Game{% endblock %}

{% block nav %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'join_game' %}">Join Game</a></li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<form action="/join_game" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" id="name-input" name="name" 
           value="{{ name }}" aria-describedby="name" placeholder="Enter name"
           required="required">
    <small id="nameHelp" class="form-text text-muted">Please use whatever people call you</small>
  </div>
  <div class="form-group">
      <label for="name">Game Code</label>
      <input class="form-control" id="game-input" 
             name="game" value="{{ game }}" 
             aria-describedby="name" placeholder="Enter game code"
             required="required">
    </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block">Join Game</button>
</form>
{% endblock %}
