{% extends "base.html" %}
{% load static %}

{% block title %}Lobby{% endblock %}

{% block nav %}
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>

      {% if self.is_host %}
        <li class="breadcrumb-item"><a href="{% url 'create_game' %}">Create Game</a></li>
      {% else %}
        <li class="breadcrumb-item"><a href="{% url 'join_game' %}">Join Game</a></li>
      {% endif %}

      <li class="breadcrumb-item"><a href="{% url 'lobby' game_id=game.id player_id=self.id %}">Lobby</a></li>
    </ol>
  </nav>
{% endblock %}

{% block head %}
<script src="{% static "javascript/vue.js" %}"></script>
<script src="{% static "javascript/reconnecting-websocket.js" %}"></script>
{% endblock %}

{% block content %}
{% verbatim %}
<div id="app">
  <a v-if="game.is_started" class="btn btn-success btn-lg btn-block mb-3"
     v-bind:href="`/game/${game.id}/${self.id}`">Go to game</a>

  <p>Game code: <b>[[ game.joinable_id ]]</b></p>

  <table class="table">
    <thead>
      <tr>
          <th>Players ([[ players.length ]] total)</th>
          <th v-if="self.is_host"></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="player in players" v-bind:class="{ 'table-active' : (self.token == player.token) }">
        <td>
          [[ player.name ]]<span v-if="player.is_host"> (host)</span>
        </td>
        <td v-if="self.is_host">
            <a v-if="(self.token != player.token) && !game.is_started"
               v-bind:href="`/kick/${game.id}/${self.id}/${player.token}`"
               class="close text-danger">
              <span>&times;</span>
            </a>
        </td>
      </tr>
    </tbody>
  </table>

  <a v-if="self.is_host && !game.is_started"
     class="btn btn-primary btn-lg btn-block"
     v-bind:href="`/game/${game.id}/${self.id}`">Start Game</a>
</div>
{% endverbatim %}


<script>
  // Abuse of django and javascript to load initial state into the
  // javascript. All other state updates come from websockets.
  var initialState = {{ json|safe }};

  var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: initialState,
    methods: {
      handleData: function (data) {
        if (data.hasOwnProperty('self')) {
          this.self = data.self;
          if (this.self.is_kicked) {
            window.location.reload(true);
          }
        }

        this.game = data.game;
        this.players = data.players;
      }
    }
  })

  {% verbatim %}
  var ws = new ReconnectingWebSocket(`ws://${window.location.host}${window.location.pathname}/`);
  {% endverbatim %}
  ws.onmessage = function(msg) {
    app.handleData(JSON.parse(msg.data));
  }

</script>
{% endblock %}
