{% extends "base.html" %}

{% block title %}Lobby{% endblock %}

{% block nav %}
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>

      {% if self.is_host %}
        <li class="breadcrumb-item"><a href="{% url 'create_game' %}">Create Game</a></li>
      {% else %}
        <li class="breadcrumb-item"><a href="{% url 'join_game' %}">Join Game</a></li>
      {% endif %}

      <li class="breadcrumb-item"><a href="{% url 'lobby' game_id=game.id player_id=self.id %}">Lobby</a></li>
    </ol>
  </nav>
{% endblock %}

{% block script %}
function getHTML(url, callback) {
  if (!window.XMLHttpRequest) return;
  var xhr = new XMLHttpRequest();

  xhr.onload = function() {
    if (callback && typeof(callback) === 'function') {
      callback(this.responseXML);
    }
  }

  xhr.open('GET', url, true);
  xhr.responseType = 'document';
  xhr.send();
}

setInterval(function() {
  getHTML(window.location.href, function(response) {
    let current_html = document.querySelector('#content');
    let response_html = response.querySelector('#content');
    if (!current_html.isEqualNode(response_html)) {
      current_html.innerHTML = response_html.innerHTML;
      // Detect whether we've been kicked or not (if we have then we hard
      // refresh).
      if (current_html.children[1].innerText == "Create Game"
       && current_html.children[2].innerText == "Join Game") {
        window.location.reload(true);
      }
    }
  })
}, 2000);
{% endblock %}

{% block content %}
{% if game.is_started %}
<a class="btn btn-success btn-lg btn-block mb-3"
   href="{% url 'game' game_id=game.id player_id=self.id %}">Go to game</a>
{% endif %}

<p>Game code: <b>{{ game.joinable_id }}</b></p>
<p>Roles: {{ roles|join:", " }}</p>

<table class="table">
  <thead>
    <tr>
        <th>Players ({{ players|length }} total)</th>
        {% if self.is_host %}
        <th></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for player, is_you, is_host in players %}
      <tr class="{% if is_you %} table-active {% endif %}">
        <td>
          {{ player.name }}
          {% if is_host %}(host){% endif %}
        </td>
        <td>
            {% if self.is_host and not is_you and not game.is_started %}
              <a href="{% url 'kick' game_id=game.id player_id=self.id player_token=player.token %}"
                class="close text-danger" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </a>
            {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if self.is_host and not game.is_started %}
  <a class="btn btn-primary btn-lg btn-block {% if players|length < 5 %} disabled {% endif %}"
     href="{% url 'game' game_id=game.id player_id=self.id %}">Start Game</a>
{% endif %}
{% endblock %}
