{% extends "base.html" %}

{% block title %}Lobby{% endblock %}

{% block head %}
  <meta http-equiv="refresh" content="5" >
{% endblock %}

{% block nav %}
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      
      {% if is_host %}
        <li class="breadcrumb-item"><a href="{% url 'create_game' %}">Create Game</a></li>
      {% else %}
        <li class="breadcrumb-item"><a href="{% url 'join_game' %}">Join Game</a></li>
      {% endif %}
      
      <li class="breadcrumb-item"><a href="{% url 'lobby' game_id=game.id player_id=self.id %}">Lobby</a></li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
<p>Joinable ID: <b>{{ game.joinable_id }}</b></p>

<table class="table">
  <thead>
    <tr>
        <th>Players</th>
        {% if is_host %}
        <th></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for player, is_you, player_is_host in players %}
      <tr>
        <td>
          {% if is_you %}<b>{% endif %}
          {{ player.name }}
          {% if player_is_host %}(host){% endif %}
          {% if is_you %}</b>{% endif %}
        </td>
        {% if is_host and not is_you %}
          <td>
            <a href="{% url 'kick' game_id=game.id player_id=self.id kicked_player_id=player.id %}" 
               class="close text-danger" aira-label="Close">
              <span aira-hidden="true">&times;</span>
            </a>
          </td>
        {% endif %}

      </tr>
    {% endfor %}
  </tbody>
</table>

{% if is_host %}
  <a class="btn btn-primary btn-lg btn-block" href="{% url 'game' game_id=game.id player_id=self.id %}">Start Game</a>
{% endif %}
{% endblock %}
